<% provide(:title, "CONNECT WITH ME") %>
<% provide(:subtext, "Great software is created in groups.  Here is how you can connect with me.") %>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center big">Follow me on these social networks</h3>
    <div class="col-md-12 text-center">
      <div class="col-md-12">
        <a href="https://facebook.com/peterbarnes213" target="blank"><i class="fa fa-facebook-square fa-5x"></i></a>
      </div>
      <div class="col-md-12">
        <a href="https://www.linkedin.com/profile/view?id=324922829&trk=nav_responsive_tab_profile_pic" target="blank"><i class="fa fa-linkedin-square fa-5x"></i></a>
      </div>
      <div class="col-md-12">
        <a href="https://github.com/peterbarnes" target="blank"><i class="fa fa-github-square fa-5x"></i></a>
      </div>
      <div class="col-md-12">
        <a href="https://twitter.com/pcb213" target="blank"><i class="fa fa-twitter-square fa-5x"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <h3 class="text-center big">Send me an email, I'd love to hear from you!</h3>
    <%= form_tag("/send", method: "post") do %>
      <div class="form-group">
        <%= label_tag(:name, params[:name], class: "sr-only") %>
        <%= text_field_tag(:name, params[:name], class: "lead input-lg form-control long-text", placeholder: "Name") %>
      </div>
      <div class="form-group">
        <%= label_tag(:email, params[:email], class: "sr-only") %>
        <%= text_field_tag(:email, params[:email], class: "lead input-lg form-control long-text", placeholder: "Email") %>
      </div>
      <div class="form-group">
        <%= label_tag(:body, params[:body], class: "sr-only") %>
        <%= text_area_tag(:body, params[:body], class: "lead input-lg form-control long-text", placeholder: "Message", rows: '5') %>
      </div>
      <button type="submit" 
              class="btn btn-primary btn-block btn-lg long-text lead">
           <i class="fa fa-envelope-o"></i> 
          Send
      </button>
    <% end %>
  </div>
</div>