= render "layouts/header2"
= render "layouts/flash"
.container
  .row
    .col-md-12
      = image_tag("logo.svg", size: "375x375", class: "img-responsive center-block")
    .col-md-12
      %h1.text-center.big.shadow
        Peter Barnes
      %h2.text-center.push-bottom
        Musician | Software developer | Web designer
.dark_purple
  .container
    .row
      .col-md-12
        %h1.text-center.spread
          I am a 
          %span.shadow musician
          dedicated to 
          %span.shadow writing
          , 
          %span.shadow recording
          , and
          %span.shadow listening
          to music.
.darker_purple#band
  .container
    .row
      .col-md-12
        %h1.text-center.big.shadow
          Here's what I do
.primary_purple
  .container
    .row
      .col-md-12
        %a{ href: "http://www.downincircles.com", target: "blank" }
          = image_tag("dic.png", size: "700x300", class: "center-block img-responsive")
        %p.long-text.readable.text-center
          Down In Circles is the band that I play guitar and sing in.  We've been a band for a long time and have gone through many different musical styles in that time before we settled on playing pop-punk.  We play in many of the local venues in our area and have made a lot of friends along the way.
.darker_purple#about
  .container
    .row
      .col-md-12
        %h1.text-center.big.shadow
          About me
.light_purple
  .container
    .row
      .col-md-12
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Guitar", target: "blank" }
            = image_tag("guitar.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Singing", target: "blank" }
            = image_tag("vocals.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Bass_guitar", target: "blank" }
            = image_tag("bass.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Drum_kit", target: "blank" }
            = image_tag("drums.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Audio_engineer", target: "blank" }
            = image_tag("recording.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Songwriter", target: "blank" }
            = image_tag("songwriting.png", size: "250x250", class: "center-block img-responsive")   
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Music_theory", target: "blank" }
            = image_tag("theory.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Performing_arts", target: "blank" }
            = image_tag("performing.png", size: "250x250", class: "center-block img-responsive")



:javascript
  $("#smoothScroll a").click(function() {
    var id = $(this).attr("href");
    $("body").animate({scrollTop: $(id).offset().top}, "slow");
    return false;
  });
