= render "layouts/header"
= render "layouts/flash"
.container
  .row
    .col-md-12
      = image_tag("logo.svg", size: "375x375", class: "img-responsive center-block")
    .col-md-12
      %h1.text-center.big.shadow
        Peter Barnes
      %h2.text-center.push-bottom
        Software developer | Web designer | Musician
.dark_blue
  .container
    .row
      .col-md-12
        %h1.text-center.spread
          I am a
          %span.shadow
            software developer
          with a passion for creating
          %span.shadow
            functional
          ,
          %span.shadow
            innovative
          , and
          %span.shadow
            attractive
          applications.
.darker_blue#projects
  .container
    .row
      .col-md-12
        %h1.text-center.big.shadow
          Here's what I've done
.primary_blue
  .container
    .row
      .col-md-12
        %h1.text-center
          %a{ href: 'http://gameroom.herokuapp.com', target: "blank" }
            = image_tag("gameroom.png", size: '700x300', class: "img-responsive center-block")
        %p.long-text.readable.text-center
          The Gameroom is a local business in Lincoln, NE that specializes in all kinds of media.  They sell everything from games to movies to electronics and they needed a website!  This website allows users to get information on store locations, send emails to the store, see what specials are going on, and much more!
.light_blue
  .container
    .row
      .col-md-12
        %h1.text-center
          %a{ href: "http://www.downincircles.com", target: "blank" }
            = image_tag("dic.png", size: '700x300', class: "img-responsive center-block")
        %p.long-text.readable.text-center
          Down In Circles is the name of the band that I play guitar in.  We've been together for years and just recently realized that we needed a website that we could use to promote ourselves and give our fans another way to hear our music and keep up with us.  This website is a basic site that allows users to read about us, see upcoming shows, and listen to our music.

.dark_blue
  .container
    .row
      .col-md-12
        %h1.text-center
          %a{ href: 'http://cashier-signup.herokuapp.com', target: "blank" }
            = image_tag("Cashier@2x.png", size: '700x300', class: "img-responsive center-block") 
        %p.long-text.readable.text-center
          The Cashier Point Of Sale is a mobile POS application currently being developed by Infinite Token.  The POS will not only handle cashiers, registers, and sales, but it also has a built in achievement system!  I had to build the administrative backend as well as the main sign up page.  
.darker_blue#about
  .container
    .row
      .col-md-12
        %h1.text-center.big.shadow
          About me

.light_blue
  .container
    .row
      .col-md-12
        .col-md-3
          %a{ href: "http://www.ruby-lang.org", target: "blank" } 
            = image_tag("ruby.svg", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/HTML", target: "blank" }
            = image_tag("html.svg", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/Cascading_Style_Sheets", target: "blank" }
            = image_tag("csswhite.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://en.wikipedia.org/wiki/JavaScript", target: "blank" }
            = image_tag("js.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://rubyonrails.org", target: "blank" }
            = image_tag("rails.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://www.adobe.com/products/photoshop.html?sdid=KKQIN&kw=semgeneric&ttsrccat=sem-ww-di-ps-brand&skwcid=AL!3085!3!49022376498!e!!g!!photoshop&ef_id=U8MDeQAAADLsHecK:20140713220857:s", target: "blank" }
            = image_tag("photoshop.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://www.sqlite.org", target: "blank" }
            = image_tag("sqlite.png", size: "250x250", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "http://www.mongodb.org", target: "blank" }
            = image_tag("mongodb.png", size: "250x250", class: "center-block img-responsive")
.dark_blue
  .container
    .row
      .col-md-12
        %p.long-text.readable
          My name is Peter Barnes and my goal is to create functional, innovative, and attractive applications. &nbsp;I mention this quite often because it is a reoccuring theme. &nbsp;I've been writing software since July of 2013 and something that I always focus on when making an application is design, because the user interface is what will sell your app. &nbsp;I also design my apps to be simple to use and I often ask myself, "If I had to use this app, how would I want it to work?" which has not only led to a simpler user interface, but also a much simpler code base. &nbsp;I started with writing simple HTML webpages and eventually learned CSS and Javascript after that which is where I started to get my understanding of web design. &nbsp;I started working with rails around January of 2014 and started working at Infinite Token, where I am currently employed.
.darker_blue#connect
  .container
    .row
      .col-md-12
        %h1.text-center.big.shadow
          Connect with me
.dark_blue
  .container  
    .row
      .col-md-12
        .col-md-3
          %a{ href: "https://www.facebook.com/peterbarnes213", target: "blank" }
            = image_tag("facebook.png", size: "200x200", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "https://www.linkedin.com/profile/view?id=324922829&trk=nav_responsive_tab_profile_pic", target: "blank" }
            = image_tag("in.png", size: "200x200", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "https://github.com/peterbarnes", target: "blank" }
            = image_tag("github.png", size: "200x200", class: "center-block img-responsive")
        .col-md-3
          %a{ href: "https://www.youtube.com/channel/UChKJO1_i15tBc6zG_cs8Y0w", target: "blank" }
            = image_tag("youtube.png", size: "200x200", class: "center-block img-responsive")
.primary_blue
  .container 
    .row
      .col-md-12
        .col-md-6.col-md-offset-3
          = form_tag("/send", method: "post") do 
            .form-group
              = label_tag(:name, params[:name], class: 'sr-only')
              = text_field_tag(:name, params[:name], class: 'lead input-lg form-control long-text square', placeholder: "Name")

            .form-group
              = label_tag(:email, params[:email], class: 'sr-only')
              = text_field_tag(:email, params[:email], class: "lead input-lg form-control long-text square", placeholder: "Email")

            .form-group
              = label_tag(:body, params[:body], class: "sr-only")
              = text_area_tag(:body, params[:body], class: "lead input-lg form-control long-text square", placeholder: "Message", rows: '5')

            %button.btn.btn-primary.btn-block.btn-lg.long-text.lead.square{ type: 'submit' }
              %i.fa.fa-envelope-o
              Send
:javascript
  $("#smoothScroll a").click(function() {
    var id = $(this).attr("href");
    $("body").animate({scrollTop: $(id).offset().top}, "slow");
    return false;
  });
