!!! 5
%html
  %head
    %title
      Peter Barnes
    %meta{ charset: 'utf-8' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'viewport', content: 'width=device-width', 'initial-scale' => '1.0' }
    %meta{ name: 'description', content: 'Peter Barnes Musician' }
    %meta{ name: 'author', content: 'Peter Barnes Musician' }
    %link{ rel: 'icon', href: '/favicon.png', type: 'image/png' }
    %link{ rel: 'shortcut icon', href: '/favicon.png' }
    = favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Roboto:300,100' }
    %link{ rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' }
    %link{ rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %script{ src: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' }
    = csrf_meta_tags

    %body.music
      = yield